<div class="menu-main">
  <div class="menu-main__header">
    <div>
      <span class="avatar"></span>
      <p>jordan pautt</p>
    </div>
    <div>
      <mat-form-field class="input_">
        <input matInput type="text" />
      </mat-form-field>
    </div>
  </div>
  <div class="menu-main__list">
    <mat-selection-list [multiple]="false">
      <mat-list-option
        class="list-option"
        *ngFor="let shoe of typesOfShoes"
        [value]="shoe">
        <div class="list-option__content">
          <span class="avatar">{{ shoe.charAt(0) | uppercase }}</span>
          <div class="chat-info">
            <div>
              <p>
                {{ shoe }}
              </p>
              <p class="chat-info__message">See you tomorrow!</p>
            </div>

            <div class="date-chat">
              <p>15/12/2001</p>
            </div>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
